# Notion
NOTION_TOKEN=your_notion_token
NOTION_DATABASE_ID=your_notion_database_id

# ChannelTalk
CHANNELTALK_ACCESS_KEY=your_channeltalk_access_key
CHANNELTALK_ACCESS_SECRET=your_channeltalk_access_secret
CHANNELTALK_BASE_URL=https://api.channel.io

# Mode
SYNC_MODE=channeltalk
